@import url(./style-null.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&family=Manrope:wght@600;700&family=Montserrat:wght@500;600;700;800&display=swap');

@mixin font-style($c, $fz, $w){
    color: $c;
    font-size: $fz;
    font-weight: $w;
}

@mixin adap-page($prop, $t, $minSize, $maxSize) {
    $rasnica: $maxSize - $minSize;
    @if $t==1 {
        #{$prop}: $maxSize + px;
        @media (max-width: 1728px) {
            #{$prop}: calc(#{$minSize + px} + #{$rasnica} * ((100vw - 768px) / (1728 - 768)));
        }
        @media (max-width: 768px) {
            #{$prop}: $minSize + px;
        }
    } @else {
        #{$prop}: $maxSize + px;
        @media (max-width: 1728px) {
            #{$prop}: calc(#{$minSize + px} + #{$rasnica} * ((100vw - 320px) / (1728 - 320)));
        }
    }
}

body {
    font-family: Lexend;
}
.body__lock {
    overflow: hidden;
}
.wrapper {
    margin: 0 auto;    
    max-width: 1728px;
    width: 100%;
}
.header-content {
    @include adap-page("padding-left", 2, 20, 120);
    @include adap-page("padding-right", 2, 20, 120);
    @include adap-page("width", 2, 320, 1728);
    position: fixed;
    top:0;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adap-page("height", 2, 70, 130);
}

.header-content__logo {
    cursor: pointer;
    @include font-style(black, 40px, 500)
}
.header-content__logo:hover {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.404);
}
.header-content__menu {
    display: flex;
    position: relative;
    top: 3px;
    justify-content: space-between;
    @include adap-page("width", 1, 320, 420);
    margin-right: 50px;
}
.header-content__section-button {
    @include font-style(black, 20px, 400);   
}
.header-content__section-button:hover {
    text-decoration: underline;
}
.icons-row {
    display: flex;
    justify-content: space-between;  
    @include adap-page("width", 2, 100, 342);
}
.icons-row__margin {
    margin-right: 16px;
    @include adap-page("margin-left", 2, 30, 250);
}
.icons-row__icon {
    cursor: pointer;
    @include adap-page("height", 2, 18, 78);
    @include adap-page("width", 2, 18, 78);
}
.header-content__connect-button {
    @include font-style(black, 18px, 400);
    height: 60px;
    line-height: 40px;
    min-width: 159px;
    border-radius: 11px;
    background: #D9D9D9;
    padding: 10px 21px;
}
.title-block__button-contect:hover,
.header-content__connect-button:hover {
    cursor: pointer;
    background: #e7e7e7e5;
    transition: all 0.1s ease 0s;
}

.burger-menu { 
    display: none;
}

.header-content__menu-body {
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
        & > .icons-row {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .burger-menu {
        display: block;
        height: 30px;
        width: 45px;
        position: relative;
    }

    .burger-menu::after,
    .burger-menu::before,
    .burger-menu span {
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0;
        background-color: black;
        transition: all 0.3s ease 0s;
    }
 
    .burger-menu::after,
    .burger-menu::before {
        content: "";
    }

    .burger-menu::after {
       bottom: 0;
    }
    .burger-menu::before {
       top: 0;
    }
    .burger-menu span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
    }
    .burger-menu_active::after {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);

    }
    .burger-menu_active::before {
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);
    }
    .burger-menu_active span {
       width: 0;
    }

    .header-content__menu-body {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        @include adap-page("top", 2, 70, 130);
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 11px;
        flex-direction: column;
        overflow: auto;

        .header-content__menu {
            flex-direction: column;
            text-align: center;
            justify-content: left;
            height: auto;
            width: 100%;
            margin: 0;
        }

        .header-content__menu a {
            height: 100px;
            line-height: 100px;
            font-size: 26px;
        }

        .header-content__menu a:hover {
            background: #e7e7e7e5;
            text-decoration: none;
        }

        .header-content__connect-button {
            height: 100px;
            width: 100%;
            line-height: 80px;
            text-align: center;
            font-size: 26px;
            background-color: white;
            border: 2px solid rgba(128, 128, 128, 0.39);
        }
    }

    .header-content__menu-body_visited{
        display: flex;
    }
}

.main-content {
    @include adap-page("padding-left", 2, 20, 120);
    @include adap-page("padding-right", 2, 20, 120);
}

.title-block {
    position: relative;
}

.title-block__margin {
    margin-bottom: 100px;
}

.title-block__info {
    @include adap-page("margin-top", 2, 100, 485);
}
.title-block__welcome-block {
    @include font-style(black, 24px, 400);
    @include adap-page("font-size", 2, 12, 24);
    @include adap-page("width", 2, 280, 584);
    width: 584px;
    margin-bottom: 37px;

    span {
        @include font-style(black, 48px, 600);
        @include adap-page("font-size", 2, 26, 48);
    }
}
.title-block__button-contect {
    @include font-style(black, 16px, 400);
    @include adap-page("font-size", 2, 8, 16);
    @include adap-page("width", 2, 70, 276);
    @include adap-page("padding-top", 2, 6, 25);
    @include adap-page("padding-bottom", 2, 6, 25);
    text-align: center;
    border-radius: 19px;
    background: #D9D9D9;
    @include adap-page("margin-left", 2, 0, 100);
    margin-right: auto;
}
.title-block__img {
    position: absolute;
    @include adap-page("top", 2, 0, -460);
    right: 0;
    @include adap-page("width", 2, 200, 737);
    object-fit: cover;
    z-index: -1;
}
.about-me__margin {
    @include adap-page("margin-bottom", 2, 50, 120);
}
.about-me__title {
    @include font-style(black, 48px, 600);
    @include adap-page("font-size", 2, 20, 48);
    @include adap-page("margin-bottom", 2, 10, 51);
    text-align: center;
}
.about-me__info {
    display: flex;
    align-items: center;
}

.about-me__img-block {
    position: relative;
}
.about-me__vector-two {
    position: absolute;
    @include adap-page("top", 2, -10, -50);
    @include adap-page("width", 2, 90, 500);
}
.about-me__img-avatar {
    @include adap-page("margin-left", 2, 17, 100);
    @include adap-page("margin-right", 2, 17, 80);
    @include adap-page("width", 2, 65, 362);
}
.about-me__vector-one {
    position: absolute;
    @include adap-page("width", 2, 72, 418);
    @include adap-page("top", 2, -5, -37);
    @include adap-page("left", 2, 11, 60);
    z-index: -1;
}
.about-me__text-block {
    @include adap-page("margin-top", 2, 10, 70);
}
.about-me__text {
    @include font-style(black, 24px, 400);
    @include adap-page("font-size", 2, 7, 24);
    @include adap-page("margin-bottom", 2, 0, 61);
    line-height: 140%;
}
.about-me__button {
    @include font-style(white, 18px, 400);
    @include adap-page("font-size", 2, 5, 18);
    @include adap-page("height", 2, 15, 60);
    @include adap-page("width", 2, 50, 196);
    @include adap-page("margin-left", 2, 40, 0);
    border-radius: 11px;
    background: linear-gradient(180deg, #05E0C6 0%, rgba(82, 101, 137, 0.64) 100%);

    &::after {
        @media (min-width: 768px) {
            margin-top: -20px;
            @include adap-page("margin-left", 2, 3, 11);
            content: "";
            display: inline-block;
            position: relative;
            right: 0;
            @include adap-page("top", 2, 4, 12);
            @include adap-page("height", 2, 10, 40);
            @include adap-page("width", 2, 10, 40);
            background: url(../img/download.svg) center/100% 100% no-repeat;
        }
    }

    &:hover {
        background: linear-gradient(180deg, #04c0aa 0%, rgba(67, 83, 112, 0.64) 100%);
    }
}

.skills {
    @include adap-page("width", 2, 280, 1338);
    @include adap-page("height", 2, 180, 694);
    @include adap-page("border-radius", 2, 17, 63);
    background: #141414;
}
.skills__wrapper{
    margin: 0 auto;
    @include adap-page("margin-bottom", 2, 50, 119);
    @include adap-page("padding", 2, 15, 91);
}
.skills__title {
    @include font-style(white, 48px, 600);
    @include adap-page("font-size", 2, 13, 48);
    @include adap-page("margin-bottom", 2, 23, 82);
    text-align: center;
}
.skills__block {
   display: flex;
   justify-content: space-between;
}
.skills__column-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adap-page("height", 2, 70, 250);
}
.skills__item {
    @include font-style(white, 24px, 600);
    @include adap-page("font-size", 2, 6, 24);
    text-transform: uppercase;

    &::before {
        content: "";
        position: relative;
        @include adap-page("top", 2, 0, -4);
        @include adap-page("margin-right", 2, 1, 15);
        @include adap-page("height", 2, 5, 10);
        @include adap-page("width", 2, 80, 350);
        display: inline-block;
        border: 1px solid rgba(128, 128, 128, 0.2);
        border-radius: 15px;
    }
}

.projects__title {
    @include font-style(black, 48px, 600);
    @include adap-page("font-size", 2, 12, 48);
    @include adap-page("margin-bottom", 2, 20, 84);
    text-align: center;
}
.projects__block {
    display: flex;
    flex-direction: column;

    .projects__row-items:nth-child(1) > .projects__item:last-child,
    .projects__row-items:nth-child(2) > .projects__item:first-child {
        @include adap-page("top", 2, -8, -30);
    }
    .projects__row-items:nth-child(3) {
        .projects__item:last-child {
            @include adap-page("top", 2, -17, -90);
        }
    }
}
.projects__row-items {
    @include adap-page("height", 2, 70, 380);
    display: flex;
    justify-content: space-between;
    @include adap-page("margin-bottom", 2, 24, 130);
}
.projects__item {
    position: relative;
    box-shadow: calc(3px + (14 - 3) * ((100vw - 320px) / (1728 - 320)))
                calc(3px + (14 - 3) * ((100vw - 320px) / (1728 - 320)))
                calc(3px + (12 - 3) * ((100vw - 320px) / (1728 - 320))) 
    -2px rgba(0, 0, 0, 0.25);
    height: 100%;
    transition: all 0.2s ease 0s;
}

.projects__item:hover {
    transition: all 0.2s ease 0s;
    transform: scale(1.1);
}

.projects__item_shadow_off {
    box-shadow: none;
}

.services__margin {
    @include adap-page("margin-bottom", 2, 60, 300);
}
.services__title {
    @include font-style(black, 48px, 600);
    @include adap-page("font-size", 2, 20, 48);
    @include adap-page("margin-bottom", 2, 30, 84);
    text-align: center;
}
.services__block {
    .services__row-items:nth-child(1) {
        .services__item:nth-child(1) {
            background: linear-gradient(180deg, #8C4B4B 0%, #EFBE9B 0.01%, rgba(189, 164, 98, 0.89) 100%);
        }
    }

    .services__row-items:nth-child(1) {
        .services__item:nth-child(2) {
            background: linear-gradient(180deg, #DE1FEF 0%, #7B0854 100%);
        }
    }

    .services__row-items:nth-child(1) {
        .services__item:nth-child(3) {
            background: linear-gradient(180deg, #FF2380 1.87%, rgba(199, 128, 255, 0.70) 51.62%, rgba(18, 223, 125, 0.70) 100%);
        }
    }

    .services__row-items:nth-child(2) {
        .services__item:nth-child(1) {
            background: linear-gradient(158deg, #0078CE 0%, rgba(124, 124, 124, 0.00) 100%);
        }
    }

    .services__row-items:nth-child(2) {
        .services__item:nth-child(2) {
            background: linear-gradient(180deg, rgba(228, 245, 29, 0.38) 1.57%, rgba(15, 15, 15, 0.65) 100%);
        }
    }

    .services__row-items:nth-child(2) {
        .services__item:nth-child(3) {
            background: linear-gradient(139deg, #09ED12 0%, rgba(38, 38, 38, 0.00) 100%);
        }
    }

    .services__row-items:nth-child(3) {
        .services__item:nth-child(1) {
            background: linear-gradient(180deg, #23ECE0 0%, rgba(190, 22, 218, 0.53) 100%);
        }
    }

    .services__row-items:nth-child(3) {
        .services__item:nth-child(2) {
            background: linear-gradient(162deg, #A78327 0%, rgba(34, 138, 25, 0.41) 99.99%, rgba(217, 217, 217, 0.00) 100%);
        }
    }

    .services__row-items:nth-child(3) {
        .services__item:nth-child(3) {
            background: linear-gradient(152deg, #DD20A8 0%, rgba(20, 168, 252, 0.48) 100%);
        }
    }
}
.services__row-items {
    display: flex;
    justify-content: space-between;
    @include adap-page("margin-bottom", 2, 15, 65);
}
.services__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adap-page("width", 2, 80, 398);
    @include adap-page("height", 2, 110, 471);
    @include adap-page("border-radius", 2, 14, 57);
    @include adap-page("padding-top", 2, 18, 76);
    @include adap-page("padding-bottom", 2, 18, 76);
    text-align: center;
    transition: all 0.3s ease 0s;
}
.services__item:hover {
    transition: all 0.3s ease 0s;
    transform: scale(0.9);
}
.services__name-item {
    @include font-style(white, 36px, 500);
    @include adap-page("font-size", 2, 7, 36);
    text-transform: uppercase;
}
.services__more-button {
    @include font-style(white, 24px, 500);
    @include adap-page("font-size", 2, 6, 24);
    @include adap-page("margin-right", 2, -6, -24);
}
.services__more-button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.services__more-button::after {
    content: "";
    display: inline-block;
    position: relative;
    @include adap-page("top", 2, 1, 6);
    @include adap-page("width", 2, 6, 24);
    @include adap-page("height", 2, 6, 24);
    @include adap-page("margin-left", 2, 2, 8);
    background: url(../img/arrowcircleright.svg) center/100% 100% no-repeat;
}

.communication {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.communication__wrapper {
    @include adap-page("margin-bottom", 2, 0, 48);
}
.communication__block {
    display: flex;
    justify-content: center;
    @include adap-page("margin-bottom", 2, 40, 150);
}
.communication__img {
    z-index: -1;
    position: relative;
    @include adap-page("height", 2, 110, 529);
    @include adap-page("top", 2, 40, 90);
    left: 0px;
}
.communication__block-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adap-page("height", 2, 140, 581);
    @include adap-page("width", 2, 110, 486);
}

.communication__button-send,
.communication__input-massage,
.communication__input-email,
.communication__input-name {
    border: solid transparent;
    @include font-style(black, 24px, 500);
    @include adap-page("width", 2, 110, 486);
    @include adap-page("height", 2, 18, 74);
    @include adap-page("font-size", 2, 5, 24);
    @include adap-page("padding-top", 2, 5, 22);
    @include adap-page("padding-bottom", 2, 5, 22);
    @include adap-page("padding-left", 2, 12, 48);
    @include adap-page("padding-right", 2, 12, 48);
    @include adap-page("border-width", 2, 0.5, 5);
    @include adap-page("padding-top", 2, 5, 22);
    @include adap-page("padding-bottom", 2, 5, 22);
    @include adap-page("padding-left", 2, 12, 48);
    @include adap-page("border-radius", 2, 6, 50);
}

.communication__input-name {
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(#C0BB36, #2E890DE3) border-box;
}

.communication__input-email {
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #C0BB36, #6100FFE3) border-box;
}

.communication__input-massage {
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #C0369A, #0E2988E3, #2E890DE3) border-box;
    @include adap-page("width", 2, 110, 486);
    @include adap-page("height", 2, 60, 267);
    resize: none; 
}
.communication__button-send {
    padding-right: 0;
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #C036AA, #895F0DE3) border-box;
    @include adap-page("width", 2, 40, 209);
    @include adap-page("border-width", 2, 2, 10);
    @include adap-page("padding-top", 2, 5, 15);
    @include adap-page("padding-bottom", 2, 5, 15);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
.communication__button-send:hover {
    transition: all 0.1s ease 0s;
    color: white;
    background: linear-gradient(90deg, #C036AA, #895F0DE3) padding-box,
    linear-gradient(90deg, #C036AA, #895F0DE3) border-box;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    width: 100%;
    @include adap-page("height", 2, 35, 192);
}
.footer-content__block-right,
.footer-content__block-left {
    position: relative;
    background: linear-gradient(180deg, #E4CA3F 0%, rgba(29, 151, 129, 0.00) 100%);
    @include adap-page("width", 2, 150, 617);
    @include adap-page("height", 2, 110, 474);
    @include adap-page("border-radius", 2, 30, 125);
}
.footer-content__block-left {
    bottom: 0;
    @include adap-page("left", 2, -60, -166);
}
.footer-content__block-right {
    @include adap-page("bottom", 2, -10, -60);
    @include adap-page("right", 2, -80, -406);
}


